<!doctype html>
<html class="no-js" lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>Vue Instance One</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="#">
		<!-- CSS files -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/css/foundation.min.css">      
<!--         <link rel="stylesheet" href="css/main.css"> -->
        <!-- /end CSS-->

    </head>
    <body>
		<div class="row">
			<div class="columns medium-10 medium-offset-1">
			<br>
				<div id="app">
<!--
					<input name="points" v-model="points">
					<h1>Skill: {{skill}}</h1>
-->

					<h1> {{fullname}}</h1>
					<input v-model="first"><input v-model="last">
				</div>
			</div>
		</div>





		<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation-essential/5.5.1/js/vendor/jquery.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/foundation.min.js"></script>
		<script>
		new Vue({
			el:'#app',
			data:{
				points: 50,
				first: " ",
				last: " ",
				fullname: ''
			},	
			computed:{
				skill:function(){
					if(this.points <= 100){
						return 'Beginner';
					}
					return 'Advanced';
				},
				fullname:{
					get: function(){
					return this.first + this.last;
					},
					set:function(newValue){
						var names = newValue.
					}
				}
			}
		})
		</script>
    </body>
</html>