<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCDS</title>
    <link rel="stylesheet" href="css/app.css">

      <style>
          .completed{
              text-decoration: line-through;
          }
      </style>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.13/vue.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  </head>
  <body>
	  
<!-- top bar -->
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Site Title</li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </div>
</div>
<br>
<br>


<div class="row">
    <div class="column small-12">


        <div id="app">

            <select v-model="carrier">
                <option v-for="point in points">{{ point }}</option>
            </select>
            <!-- fedex -->
            <template id="fedex" v-if=" this.carrier == 'FedEx' ">
                <h1>FedEx</h1>
                <select v-model="years">
                    <option v-for="fedex in fedexs">{{ fedex }}</option>
                </select>

                <select>
                    <option v-if="this.years == 2015" v-for="items in fedex15">{{ items }}</option>
                    <option v-if="this.years == 2014" v-for="items in fedex14">{{ items }}</option>
                    <option v-if="this.years == 2013" v-for="items in fedex13">{{ items }}</option>
                    <option v-if="this.years == 2012" v-for="items in fedex12">{{ items }}</option>
                </select>
            </template>
            <!-- end fedex -->

        </div>


    </div>
</div>



    <script>

        var template = Vue.extend({
                template:'#fedex'
                });

        var theTemplate = Vue.extend({
                template:'#ups'
        });

        var app = new Vue({
            el:'#app',
            data:{
                points:['UPS','FedEx','DHL'],
                carrier: '',
                years:'',
                fedexs:[2015,2014,2013,2012],
                fedex15:['overnight','two day','2 month'],
                fedex14:['night','14 day','2 month'],
                fedex13:['overnight','two day','2 month'],
                fedex12:['night','14 day','2 month']

            },
            computed: {
                rates: function(){
                    if(this.years == this.U2015){
                        return this.U2015;
                    }
                    if(this.years == this.U2014){
                        alert(this.U2014);
                    }
                }
            }
        })

    </script>
  </body>
</html>