<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCDS</title>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>

  <!--<div class="row">-->
  <!--<div class="columns small-12">-->
  <!--<div id="app">-->
  <!--<select v-model="selected">-->
  <!--<option v-for="carrier in carriers"  @click="alert("helloworld");">-->
  <!--{{ carrier.company }}-->
  <!--</option>-->
  <!--</select>-->
  <!--<ul>-->
  <!--<li>{{ carrier.value }}</li>-->
  <!--</ul>-->
  <!--<span>Selected: {{ selected | json }}</span>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <div class="app">
      <div class="row">
          <div class="columns small-4 small-centered">
              <select v-model="selected">
                  <option v-for="option in options">{{ option.carrier }}</option>
              </select>
              <span>Selected: {{ selected | json }}</span>
          </div>
      </div>
  </div>


<div id="app">
    <div class="row">
    <h1>{{ title }}</h1>
    <select v-model="selected"><option v-for="carrier in carriers">{{ carrier }}</option></select>
        {{ selected }}
    <br>
    <select><option v-for="make in makes">{{ make }}</option></select>
    <br>
    <select><option v-for="model in models">{{ model }}</option></select>
    </div>
</div>


  <template>
      <select><option v-for="make in makes">{{ make }}</option></select>
      <br>
      <select><option v-for="model in models">{{ model }}</option></select>
      </div>
  </template>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.13/vue.js"></script>
    <script>



        var app = new Vue({
            el:'#app',
            data:{
                selected: '',
                title:"phones",
                carriers:['att','vzw','sprint']
            }
        })




    </script>







    <!--<script>-->
        <!--var app = new Vue({-->
            <!--el: '#app',-->
            <!--data: {-->
                <!--options: [-->
                    <!--{ carrier: 'ATT', rateYear: [2014,2013,2012,2011,2010], serviceType: ['ground','home delivery','Express Saver']},-->
                    <!--{ carrier: 'FedEx', rateYear: [2014,2013,2012,2011,2010], serviceType: ['ground','home delivery','Express Saver'] },-->
                    <!--{ carrier: 'DHL', rateYear: [2014,2013,2012,2011,2010], serviceType: ['ground','home delivery','Express Saver'] }-->
                <!--],-->
                <!--selected: 'start with this',-->
            <!--}-->

        <!--})-->
    <!--</script>-->



    <script>
//        var MyComponent = Vue.extend({
//            template: '<div>A custom component!</div>'
//        })
//
//        var app = new Vue({
//            el: '#app',
//            data: {
//                selected: '',
//                carriers: [
//                    { company: 'UPS',   value: 'ups' },
//                    { company: 'FedEx', value: [2,4,6] },
//                    { company: 'Three', value: [7,11,13] }
//                ],
//                options: ''
//            },
//            methods: {
//                setOptions: function ($carrier){
////                    this.$data.first = this.$data.videos[$index];
//                    console.log("skata moosh");
//                }
//            }
//
//        });
    </script>
  </body>
</html>