<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCDS</title>
    <link rel="stylesheet" href="css/app.css">

      <style>
          .completed{
              text-decoration: line-through;
          }
      </style>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.13/vue.js"></script>
  </head>
  <body>
	  
<!-- top bar -->
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Site Title</li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </div>
</div>
<br>
<br>

    <!--<div class="row">-->
        <!--<div class="columns small-12">-->
            <!--<div id="app">-->
                <!--&lt;!&ndash;<form action="index.html" v-on:submit.prevent="handleIt"> </form>&ndash;&gt;-->
                <!--<counter subject="Likes" @click="Likes += 1"></counter>-->
                <!--<counter subject="Dislikes"></counter>-->
                <!--<pre>-->
                    <!--{{ $data |  json }}-->
                <!--</pre>-->
            <!--</div>-->
            <!--<template id="counter-template">-->
                <!--<h1>{{ subject }}</h1>-->
                <!--<button class="button" @click="count += 1">Increment {{ count }}</button>-->
            <!--</template>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div id="app">-->

        <!--<h1>Skill: {{ skill }}</h1>-->
        <!--<select v-model="stuff">-->
            <!--<option v-for="point in points">{{ point }}</option>-->
        <!--</select>-->

    <!--</div>-->

<!--<div class="row">-->
    <!--<div class="column small-12">-->

        <!--<div id="app">-->
            <!--<div v-for="plan in plans">-->
                <!--<plan :plan="plan" :active.sync="active"></plan>-->
            <!--</div>-->

            <!--<pre>-->
                <!--{{ $data | json }}-->
            <!--</pre>-->
        <!--</div>-->

        <!--<template id="plan-template">-->
            <!--<span>{{ plan.name }}</span>-->
            <!--<span class="label">{{ plan.price }} /month</span>-->

            <!--<button class="button tiny success" v-show="plan.name !== active.name" @click="setActivePlan">-->
                <!--{{ isUpgrade ?  'Downgrade' : 'Upgrade'}}</button>-->
        <!--<span v-else>-->
            <!--Current-->
        <!--</span>-->
        <!--</template>-->


    <!--</div>-->
<!--</div>-->



<div class="row">
    <div class="column small-12">
        <div id="app">



            <!--@change="rateYear($key)"-->

            <select v-model="company">
                <option v-for="carrier in carriers">{{ carrier.company }}</option>
            </select>

            {{ company }}

            <select v-model="year">
                <option v-for="years in rateYear">{{ years.year }}</option>
            </select>

            {{ year }}

            <!--<select v-model="types">-->
                <!--<option v-for="years in rateYear">{{ years.serviceTypes }}</option>-->
            <!--</select>-->

            <select v-model="types">
                <option v-for="type in serviceTypes"> {{ type }}</option>
            </select>


            {{ types }}




        </div>
    </div>
</div>



    <script>
    var carriers = [
        {
            company:'UPS',
            rateYear:[
                {   year:'2015',serviceTypes: ['U2015 Ground', 'Home Delivery']},
                {   year:'2014',serviceTypes: ['U2014 Ground', 'Home Delivery']}
            ]
        },
        {
            company:'FedEx',
            rateYear:[
                {year:'2015',serviceTypes: ['F2015 Ground', 'Home Delivery']},
                {year:'2014',serviceTypes: ['F2014 Ground', 'Home Delivery']}
            ]
        }
    ]

            var app = new Vue({
                el:'#app',
                data:{
                    carriers: carriers,
                    company:'',
                    rateYear:'',
                    year:'',
                    types:'',
                    serviceTypes:''
                },
                computed:{
                    rateYear: function(){
                        for(var i=0; i < this.carriers.length; i++) {
                            if(this.carriers[i].company == this.company) {
                                return this.carriers[i].rateYear;
                            }
                        }
                    },
                    serviceTypes: function(){
//                        var arr = [1,2,3];
//                        return arr;
//                        var arr = [];
//                        for(var i=0; i < this.carriers.length; i++) {
//                            arr.push(i);
//                        }
//                        return arr;

                        return this.carriers[0].serviceTypes;
//                        if ( = this.year){
//
//                        }

                        for(var i=0; i < this.carriers.length; i++) {
                            if(this.carriers[i].company == this.company) {
                                return this.carriers[i].rateYear;
                            }
                        }



                    }
                }
            })


//    if(this.carriers[i].company == this.company) {
//        return this.carriers[i].rateYear;
//    }
//


    //@change="testMethod" the big mack daddy


//    methods:{
//        testMethod: function(){
//            alert(this.company)
//        }
//    }













//        var carriers = [
//            {carrier: 'UPS', rateGuideYear: {
//                    2015: {year: '2015', serviceType: ['Ground', 'Home Delivery', 'Express Saver', '2 Day', '2 Day A.M.']},
//                    2014: {year: '2014', serviceType: ['2014 Ground', ' 2014 Home Delivery', 'Express Saver', '2 Day', '2 Day A.M.']},
//                }
//            },
//            {carrier: 'FedEx', rateGuideYear: {
//                    2015: {year: '2015',serviceType: ['Ground', 'Home Delivery', 'Express Saver', '2 Day', '2 Day A.M.']},
//                    2014: {year: '2014',serviceType: ['Ground', 'Home Delivery', 'Express Saver', '2 Day', '2 Day A.M.']}
//                }
//            }
//        ];


    </script>




<!--<script>-->
    <!--var app = new Vue({-->
        <!--el:'#app',-->
        <!--data:{-->
            <!--plans:[-->
                <!--{name:'enterprise',price:100},-->
                <!--{name:'Pro edition',price:75},-->
                <!--{name:'Personal',price:25},-->
                <!--{name:'free',price:0}-->
            <!--],-->
            <!--active:{}-->
        <!--},-->
        <!--components:{-->
            <!--plan:{-->
                <!--template: '#plan-template',-->
                <!--props:['plan','active'],-->
                <!--data:{-->
                <!--},-->
                <!--methods:{-->
                    <!--setActivePlan: function(){-->
                        <!--this.active = this.plan;-->
                    <!--}-->
                <!--}-->
            <!--},-->
            <!--computed:{-->
                <!--isUpgrade: function(){-->
                    <!--return this.plan.price > this.active.price;-->
                <!--}-->
            <!--}-->
        <!--}-->
    <!--})-->
    <!-- -->
<!--</script>-->






<!--<script>-->
    <!--var app = new Vue({-->
        <!--el:'#app',-->
        <!--data:{-->
            <!--points:[10,20,30,101],-->
            <!--stuff:'',-->
            <!--skill: 'beginner'-->
        <!--},-->
        <!--computed:{-->
            <!--skill: function(){-->
                <!--if(this.stuff <= 100){-->
                    <!--return 'Beginner';-->
                <!--}-->
                <!--return 'Pro'-->
            <!--}-->
        <!--}-->
    <!--})-->

<!--</script>-->


    <!--<script>-->
        <!--Vue.component('counter', {-->
            <!--template: '#counter-template',-->
            <!--props:['subject'],-->
            <!--data: function(){-->
                <!--return{ count:0};-->
            <!--}-->
        <!--});-->
        <!--var app = new Vue({-->
            <!--el: '#app',-->
            <!--data:{-->
                <!--Likes:0,-->
                <!--Dislikes:0-->
            <!--},-->
            <!--methods:{-->
                <!--handleIt: function(){-->
                    <!--alert("it has been handled")-->
                <!--},-->
                <!--counter:function(){-->
                    <!--this.count += 1;-->
                <!--}-->
            <!--}-->
        <!--});-->
        <!-- -->
    <!--</script>-->
  </body>
</html>